*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    background: gray;
    padding-bottom: 30px;
    width: 600px;
    height: 570px;
    padding-bottom: 20px;
}
.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}
.text
{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.underline
{
    width: 61px;
    height: 6px;
    background-color: white;
    border-radius: 9px;
}
.inputs
{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input
{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 65px;
    background: #eaeaea;
    border-radius: 6px;
}
.input i
{
    margin: 0px 30px;
    font-size: 20px;
}
.input input
{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #797979;
}
.forget-password
{
    padding-left: 62px;
    margin-top: 27px;
    color: white;
    font-size: 18px;
}
.forget-password span
{
    cursor: pointer;
    color: orange;
}
.submit-container
{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: black;
    background: white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.gray
{
    background: red;
    color: white;
}